<template>
  <v-container fluid>
    <v-card class="ma-3 pa-3">
      <v-card-title primary-title>
        <div class="headline primary--text">Youtube channel search</div>
      </v-card-title>
      <v-card-text>
         <v-text-field
          label="Channel name"
          v-model="searchQuery"
          :rules="rules"
        ></v-text-field>
        <v-btn
          @click="onSearch"
          elevation="2"
          small
        >Search</v-btn>
      </v-card-text>
    </v-card>
    <v-card
      class="mx-auto"
      max-width="544"
      v-if="showChannel"
    >
      <v-card-text>
        <div class="headline mb-1">{{ channel.title }}</div>
        <p>Channel ID: {{ channel.channel_id }}</p>

        <v-card-text class="text--primary">
          <div>Avg Views number: <b>{{ channel.avg_view_count}}</b></div>
          <div>Total number of views for all videos of the channel: 
          <b>{{ channel.view_count }}</b></div>
        </v-card-text>
        <v-card-text class="text--secondary">
          <div>Description:</div>
          <div>{{ channel.description }}</div>
        </v-card-text>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Store } from 'vuex';
import { readUserProfile } from '@/store/main/getters';
import { api } from '@/api';
import { IChannel } from '@/interfaces';


@Component
export default class Dashboard extends Vue {
  private isLoading: boolean = false;
  private searchQuery: string = 'TopGear';
  private channel?: IChannel;
  private rules = [
    (value) => !!value || 'Required.',
    (value) => (value && value.length >= 3) || 'Min 3 characters',
  ];
  private showChannel: boolean = false;

  get greetedUser() {
    const userProfile = readUserProfile(this.$store);
    if (userProfile) {
      if (userProfile.full_name) {
        return userProfile.full_name;
      } else {
        return userProfile.email;
      }
    }
  }
  private async onSearch(e) {
    try {
        // reset previous
        this.channel = undefined;
        this.showChannel = false;

        this.isLoading = true;

        const response = await api.searchChannel(this.searchQuery);
        if (response.data) {
          this.channel = response.data as IChannel;
          this.showChannel = true;
        }
    } catch (error) {
        // await dispatchCheckApiError(context, error);
        console.log(error);
    }
    this.isLoading = false;
  }
}
</script>
